.navbar__wrapper {
    background-color: dodgerblue;

    width: 150px;
    margin-right: 10px;
    padding-bottom: 200px;
}

.navbar__list {
    list-style: none;

    padding: 0;
    margin: 10px;
}