.profile__pic {
    width: 800px;
    height: 200px;

    overflow: hidden;
}

.profile__wrapper {
    display: flex;
    margin-bottom: 30px;
}

.profile__avatar_wrapper {
    margin: -110px 0 0 20px;

}

.profile__avatar {
    border: 3px solid #fff;
    border-radius: 50%;

    width: 220px;
}

.profile__desc {
    margin: 20px;
}

.profile__name {
    font-size: 30px;
}

.profile__about {
    font-size: 15px;

    margin-bottom: 10px;
}

.profile__job_desc {
    padding-left: 30px;
}